# General libraries for scraping and data manipulation
logging
telethon
python-dotenv
asyncio
pandas
numpy
matplotlib
seaborn

# Database interaction
sqlalchemy
psycopg2-binary

# Jupyter Notebook
jupyter

# DBT for data transformations
dbt-core
dbt-postgres

# For future API development (Task 4)
uvicorn
fastapi
